<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stili/stili.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1>Dobrodosli v aplikaciji za iskanje prijateljev</h1>

<p>S pomočjo te aplikacije lahko poiščete prijatelje s podobnimi interesi in jih kontaktirate</p>

<a href="/registracija">Registriraj se</a>

<a href="/osebe">Seznam uporabnikov</a>

</body>
</html>
