<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stili/stili.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1>Registriraj se!</h1>

<form class="obrazec-registracija form-group" method="post">
  <span class="nadpis">Ime</span>
  <input name="ime" type="text" placeholder="Vase ime">
  <span class="nadpis">Priimek</span>
  <input name="priimek" type="text" placeholder="Vas priimek">
  <span class="nadpis">Starost</span>
  <input name="starost" type="number" placeholder="Starost">
  <span class="nadpis">Kratek opis</span>
  <input name="opis" type="text" placeholder="Nekaj o sebi">
  <span class="nadpis">Instagram uporabniško ime</span>
  <input name="instagram" type="text" placeholder="Vaše instagram ime" value="@">
  <input class="btn btn-primary" type="submit" value="Končano!">
</form>

<a href="/">← Nazaj na naslovno stran</a>

</body>
</html>
